body  {
  background: linear-gradient(to left, #99FF5E 0%,#99FF5E 50%,#99FF5E 50%,#DFE0E1 50%,#DFE0E1 100%); /* W3C */
}

.login-box {
  background-color: rgb(40,40,40);
  border: solid 1px #DFE0E1
}

.custom-input-button {
  background: #99FF5E !important;
}
